<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>IM</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>WeChat</string>
				<key>targetVc</key>
				<string>DITWeChatTabBarController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Animation</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>liner</string>
				<key>targetVc</key>
				<string>MDRLinerController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Audio and Video</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>record vedio</string>
				<key>targetVc</key>
				<string>MDRRecordVedioController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Custom transiton</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>custom present</string>
				<key>targetVc</key>
				<string>MDRSwipeOneController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Component</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>loopView</string>
				<key>targetVc</key>
				<string>DITCompLoopViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>slide selector</string>
				<key>targetVc</key>
				<string>DITCompSlideSelViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Record</string>
				<key>targetVc</key>
				<string>DITRecordViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>CustomRefresh</string>
				<key>targetVc</key>
				<string>DITCompCustomRefreshViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>CocoaHTTPServer</string>
				<key>targetVc</key>
				<string>DITHTTPServerViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>DITTextField</string>
				<key>targetVc</key>
				<string>DITTextfieldViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>AppleComponent</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>NSURLSessionDataTask（断点续传下载）</string>
				<key>targetVc</key>
				<string>NSURLSessionDataTaskViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIGestureRecognizer</string>
				<key>targetVc</key>
				<string>DITUIGestureRecognizerViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>runtime</string>
				<key>targetVc</key>
				<string>DITRuntimeViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>事件传递</string>
				<key>targetVc</key>
				<string>DITButtonEventsViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Other</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>frosted glass</string>
				<key>targetVc</key>
				<string>MDRGlassController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>timeLine</string>
				<key>targetVc</key>
				<string>TimelineController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Peek and Pop</string>
				<key>targetVc</key>
				<string>DITPeekPopViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
