<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
        <dict>
            <key>Img</key>
            <string>ff_IconShowAlbum</string>
            <key>title</key>
            <string>朋友圈</string>
            <key>targetVc</key>
            <string>DITWeChatMomentsController</string>
        </dict>
	</array>
    <array>
        <dict>
            <key>Img</key>
            <string>ff_IconQRCode</string>
            <key>title</key>
            <string>扫一扫</string>
            <key>targetVc</key>
            <string>DITWeChatScanController</string>
        </dict>
        <dict>
            <key>Img</key>
            <string>ff_IconShake</string>
            <key>title</key>
            <string>摇一摇</string>
            <key>targetVc</key>
            <string>DITWeChatShakeController</string>
        </dict>
	</array>
    <array>
        <dict>
            <key>Img</key>
            <string>ff_IconQRCode</string>
            <key>title</key>
            <string>看一看</string>
            <key>targetVc</key>
            <string>DITWeChatBrowseController</string>
        </dict>
        <dict>
            <key>Img</key>
            <string>ff_IconShake</string>
            <key>title</key>
            <string>搜一搜</string>
            <key>targetVc</key>
            <string>DITWeChatSearchController</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>Img</key>
            <string>ff_IconLocationService</string>
            <key>title</key>
            <string>附近的人</string>
            <key>targetVc</key>
            <string>DITWeChatNearbyController</string>
        </dict>
        <dict>
            <key>Img</key>
            <string>ff_IconBottle</string>
            <key>title</key>
            <string>漂流瓶</string>
            <key>targetVc</key>
            <string>DITWeChatBottleController</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>Img</key>
            <string>CreditCard_ShoppingBag</string>
            <key>title</key>
            <string>购物</string>
            <key>targetVc</key>
            <string>DITWeChatShoppingController</string>
        </dict>
        <dict>
            <key>Img</key>
            <string>MoreGame</string>
            <key>title</key>
            <string>游戏</string>
            <key>targetVc</key>
            <string>DITWeChatGameController</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>Img</key>
            <string>ff_IconShowAlbum</string>
            <key>title</key>
            <string>小程序</string>
            <key>targetVc</key>
            <string>DITWeChatCodesController</string>
        </dict>
    </array>
</array>
</plist>
